.center__contents {
  width: 650px;
  height: 100%;
  min-width: 400px;
  float: left;
  .center__contents_slider {
    height: 400px;
  }
  .center__contents_campain {
    height: 500px;
    .center__contents_campain-title {
      margin-left: 20px;
    }
    .center__contents_campain-line {
      width: 600px;
      margin-left: 20px;
    }
    .center__contents_campain__top {
      &:after {
        clear: both;
        content: "";
        display: block;
      }
      .center__contents_campain__top-product {
        background-color: #ddd;
        width: 190px;
        height: 250px;
        margin: 13px;
        float: left;
      }
    }
  }
}
