/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'sale-top.png', class: "right-contents-shop-pop"
